<div class="contenerdorExpiracion">
    <span style="vertical-align: -webkit-baseline-middle;">Tiempo de retencion:</span>
    <button class="seclectorTiempo" id="1" onclick="cambiarBoton(this.id)" style="background-color: #7ADDFF">1<br>Hora</button>
    <button class="seclectorTiempo" id="12" onclick="cambiarBoton(this.id)" >12<br>Horas</button>
    <button class="seclectorTiempo" id="24" onclick="cambiarBoton(this.id)" >1<br>Dia</button>
    <button class="seclectorTiempo" id="72" onclick="cambiarBoton(this.id)" >3<br>Dias</button>
</div>